<h1 class="animated fadeIn fast">App sobre comics</h1>

<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quas quaerat cupiditate laudantium totam perspiciatis perferendis esse libero tempore repellendus! Quo odit voluptatibus non amet ullam nemo dignissimos suscipit labore.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum officia distinctio impedit eius in sunt quam, asperiores nulla dignissimos iure culpa soluta modi, sapiente qui molestiae, magni consectetur ipsa natus.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dolore adipisci quod ipsam vitae asperiores hic, aspernatur, aperiam explicabo ratione odit veritatis in commodi natus, iure recusandae voluptates molestias suscipit.
</p>

<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quas quaerat cupiditate laudantium totam perspiciatis perferendis esse libero tempore repellendus! Quo odit voluptatibus non amet ullam nemo dignissimos suscipit labore.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum officia distinctio impedit eius in sunt quam, asperiores nulla dignissimos iure culpa soluta modi, sapiente qui molestiae, magni consectetur ipsa natus.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dolore adipisci quod ipsam vitae asperiores hic, aspernatur, aperiam explicabo ratione odit veritatis in commodi natus, iure recusandae voluptates molestias suscipit.
</p>
